<header>
  <span>社区列表</span>
  <button (click)="openModal(communityManagerModal)">创建社区</button>
</header>
<div class="search-panel">
  <gm-search-bar></gm-search-bar>
</div>
<gm-community-table [columns]="columns" [data]="communities"></gm-community-table>
<div class="paginator">
  <ngb-pagination [collectionSize]="queryOptions?.totalCount" (pageChange)="search($event)" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
</div>
<ng-template #communityManagerModal let-close="close" let-dismiss="dismiss">
  <gm-modal-container title="创建社区" [dismiss]="dismiss">
    <gm-community-create [communities]="communities" [close]="close" (submitted)="updateCommunities()"></gm-community-create>
  </gm-modal-container>
</ng-template>
