<header>
  <h3>安全隐患排查列表</h3>
  <button (click)="openModal(riskCheckModal)">创建安全隐患排查表</button>
</header>
<div class="search-panel">
  <gm-search-bar></gm-search-bar>
</div>
<gm-risk-table [columns]="columns" [groups]="groups" [communities]="communities" [data]="riskEvents"></gm-risk-table>

<ng-template #riskCheckModal let-close="close" let-dismiss="dismiss">
  <gm-modal-container [dismiss]="dismiss" [title]="'安全隐患排查表'">
    <gm-risk-editor [communities]="communities" [groups]="groups" [close]="close" (submitted)="updateRiskList()"></gm-risk-editor>
  </gm-modal-container>
</ng-template>


