@import "../../../../styles/lib";

header {
    display: flex;
    align-items: center;
    color: $ca-black;
    height: 70px;

    background: #fff;
    background-size: contain;
    background-position-y: 30px;
    border-bottom: 2px solid #000;

    .content {
        width: 100%;
        margin: 0 auto;
        padding:0 50px;
        display: flex;
        align-items: center;
        flex: 1;
        white-space: nowrap;

        .logo {
            width: 24px;
            height: 24px;
            border: 1.5px solid red;
            border-radius: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-right: 0;
            border-top: 0;

            img {
                width: 100%;
            }
        }

        .caption {
            flex: 1;
            margin-left: 20px;
        }

        .c-li {
            margin: 0 20px;
            position: relative;
            cursor: pointer;

          .avatar-panel {
            height: 60px;
            position: absolute;
            right: -10px;
            top: 0;
            border-radius: 5px;
            z-index: 100;
            padding: 5px 10px;
            box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.4);
            background: #fff;
          }
        }

        .msg-bell {
            position: relative;
        }

        .msg {
            width: 20px;
            height: 20px;
            background-color: #00A000;
            position: absolute;
            top: -20px;
            left: 10px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .menus {
            * {
                font-size: 14px;
                font-weight: bolder;
            }
        }

        .fa-user-circle {
            &:before {
                margin-right: 5px;
            }
        }
    }
}

h1 {
    flex: 1;
    font-size: 1rem;
    margin: 0;
}
