<div class="form-panel" *ngIf="!isSubmitting">
  <form *ngIf="!isSubmitting" [formGroup]="formGroup" (ngSubmit)="submit()" novalidate>
    <div class="form-group">
      <div class="wrap">
        <label>新闻名称</label>
        <input type="text" class="form-control" formControlName="title" placeholder=""  caValidityClass/>
      </div>
    </div>
    <div class="modal-buttons">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>
</div>
<ca-spinner *ngIf="isSubmitting" [state]="spinnerState" dotColor="grey">
  <ng-container *ngIf="spinnerState === 'waiting'">新闻创建中...</ng-container>
  <ng-container *ngIf="spinnerState === 'success'">新闻创建成功! {{successMessageTimeoutInSeconds}} 秒后自动关闭窗口.</ng-container>
  <ng-container *ngIf="spinnerState === 'failed'">新闻创建失败!</ng-container>
</ca-spinner>
