@import "shared/variables";

a {
  text-decoration: none;
  color: #007DCC;
}

.menus {
  a {
    margin: 0 5px;
  }
}

app-login {
  margin: 0 auto;
}

%table-base {
  .body {
    .data-item {
      display: flex;
      align-items: center;
      line-height: 2;

      &:nth-child(2n) {
        background: #f8f8f8;
      }

      >span, button {
        flex: 1;
        text-align: center;
        font-size: 14px;
      }

      button {
        border: 0;
        border-radius: 5px;
        color: #FFF;
        font-size: 12px;
        cursor: pointer;
        padding: 0 10px;
      }
    }
  }
}

.icon- {
  &delete {
    background: url("~assets/img/iconfont/trash-dark.svg") no-repeat;
    background-size: contain;
  }

  &edit {
    background: url("~assets/img/iconfont/edit.svg") no-repeat;
    background-size: contain;
  }
}

.menus-panel {
  .btn {
    width: 30px;
    height: 20px;
  }
}
