<div class="data-panel">
    <gm-table-header [columns]="columns"></gm-table-header>
    <div class="body">
        <div class="data-item" *ngFor="let item of data">
          <span>{{ getCommunityNameById(item?.communityId) }}</span>
          <span>{{ item?.family_Address }}</span>
          <span>{{ item?.family_Content }}</span>
            <span>{{ item?.family_Phone }}</span>
            <span>{{ item?.family_Type }}</span>
            <span>{{ item?.createdBy }}</span>
            <span>{{ item?.createdDate | date }}</span>
            <span>
              <a (click)="removeItem(item?.id)">
                <fa-icon [icon]="faTrash"></fa-icon>
              </a>
              <a>
                  <fa-icon [icon]="faEdit"></fa-icon>
              </a>
            </span>
        </div>
    </div>
</div>
