<form *ngIf="!isSubmitting" [formGroup]="formGroup" (ngSubmit)="submit()" novalidate>
  <div class="form-group">
    <div class="wrap">
      <label>用户组名</label>
      <input type="text" class="form-control" formControlName="name" placeholder=""  caValidityClass/>
      <small *ngIf="getControl('name').hasError('pattern')" class="invalid-feedback">
        名称格式错误.
      </small>
      <small *ngIf="getControl('name').hasError('maxLength')" class="invalid-feedback">
        最大长度不能超过{{ titleLengthLimit }}.
      </small>
      <small *ngIf="getControl('name').hasError('required')" class="invalid-feedback">
        必填项.
      </small>
    </div>
  </div>
  <div class="modal-buttons">
    <button type="submit" class="btn btn-primary">Save</button>
  </div>
</form>
<ca-spinner *ngIf="isSubmitting" [state]="spinnerState" dotColor="grey">
  <ng-container *ngIf="spinnerState === 'waiting'">用户组创建中...</ng-container>
  <ng-container *ngIf="spinnerState === 'success'">用户组创建成功! {{successMessageTimeoutInSeconds}} 秒后自动关闭窗口.</ng-container>
  <ng-container *ngIf="spinnerState === 'failed'">用户组创建失败!</ng-container>
</ca-spinner>
