<header>
  <h3>党建活动信息列表</h3>
  <button (click)="openModal(partyBuildModal)">创建信息表</button>
</header>
<div class="search-panel">
  <gm-search-bar></gm-search-bar>
</div>
<gm-party-table [columns]="columns" [communities]="communities" [data]="partyActivitiesList"></gm-party-table>
<div class="paginator">
  <ngb-pagination [collectionSize]="queryOptions?.totalCount" (pageChange)="search($event)" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
</div>
<ng-template #partyBuildModal let-close="close" let-dismiss="dismiss">
  <gm-modal-container [dismiss]="dismiss" [title]="'党建活动信息表'">
    <gm-party-editor [communities]="communities" [close]="close" (submitted)="updateParties()"></gm-party-editor>
  </gm-modal-container>
</ng-template>


