@import "../../../../../styles/lib";

:host {
  display: block;
  padding: 20px 0;
  position: relative;
}

.sub-menu-options {
  display: block;

  gm-menu-option {
    padding: 20px 0;
    width: $menu-width;

    &:hover {
      background: #17232f;
    }
  }

  position: absolute;
  background: rgba(44, 62, 80, 0.9);
}
