<header>
  <span></span>
  <button (click)="openModal(roleManagerModal)">创建角色</button>
</header>
<div class="search-panel">
  <!--<gm-search-bar></gm-search-bar>-->
</div>
<gm-role-table [columns]="columns" [data]="roles"></gm-role-table>
<div class="paginator" *ngIf="queryOptions?.totalCount > 10">
  <ngb-pagination [collectionSize]="queryOptions?.totalCount" (pageChange)="search($event)" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
</div>
<ng-template #roleManagerModal let-close="close" let-dismiss="dismiss">
  <gm-modal-container title="创建角色" [dismiss]="dismiss">
    <gm-role-create [permissions]="permissions" [close]="close"></gm-role-create>
  </gm-modal-container>
</ng-template>
