<form *ngIf="!isSubmitting" [formGroup]="formGroup" (ngSubmit)="submitData()" novalidate>
  <div class="form-group">
    <div class="wrapper">
      <label>登录账号</label>
      <input type="text" class="form-control" id="userName" placeholder="user name" formControlName="userName" caValidityClass/>
    </div>
    <small *ngIf="getControl('userName').dirty && getControl('userName').hasError('pattern')" class="invalid-feedback">
      账号格式错误.
    </small>
    <small *ngIf="getControl('userName').dirty && getControl('userName').hasError('maxLength')" class="invalid-feedback">
      最大长度不能超过{{ titleLengthLimit }}.
    </small>
    <small *ngIf="getControl('userName').dirty && getControl('userName').hasError('required')" class="invalid-feedback">
      必填项.
    </small>
  </div>
  <div class="form-group">
    <div class="wrapper">
      <label>用户名称</label>
      <input type="text" class="form-control" id="name" placeholder="name" formControlName="name" caValidityClass/>
    </div>
    <small *ngIf="getControl('name').dirty && getControl('name').hasError('pattern')" class="invalid-feedback">
      格式错误.
    </small>
    <small *ngIf="getControl('name').dirty && getControl('name').hasError('maxlength')" class="invalid-feedback">
      最大长度不能超过{{ titleLengthLimit }}.
    </small>
    <small *ngIf="getControl('name').dirty && getControl('name').hasError('required')" class="invalid-feedback">
      必填项.
    </small>
  </div>
  <div class="form-group">
    <div class="wrapper">
      <label>所属社区</label>
      <ca-select formControlName="communityId">
          <ca-option *ngFor="let community of communities" [value]="community.id">{{ community.name }}</ca-option>
      </ca-select>
    </div>
    <small *ngIf="getControl('communityId').dirty && getControl('communityId').hasError('required')" class="invalid-feedback">
      必填项.
    </small>
  </div>
  <div class="form-group">
    <div class="wrapper permission-panel">
      <label>选择角色</label>
      <div class="check-box-panel">
        <ca-input-checkbox *ngFor="let item of roleArray" [formControl]="item.control" [value]="item.role.name">{{ item.role.name }}</ca-input-checkbox>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="wrapper">
      <label>是否启用</label>
      <div class="radio-box-panel">
        <ca-input-radio [value]="true" formControlName="isEnabled"><span>是</span></ca-input-radio>
        <ca-input-radio [value]="false" formControlName="isEnabled"><span>否</span></ca-input-radio>
      </div>
    </div>
    <small *ngIf="getControl('isEnabled').dirty && getControl('isEnabled').hasError('required')" class="invalid-feedback">
      必填项.
    </small>
  </div>
  <div class="modal-buttons">
    <button type="submit" class="btn btn-primary">保存</button>
  </div>
</form>
<ca-spinner *ngIf="isSubmitting" [state]="spinnerState" dotColor="grey">
  <ng-container *ngIf="spinnerState === 'waiting'">创建中...</ng-container>
  <ng-container *ngIf="spinnerState === 'success'">创建成功! {{successMessageTimeoutInSeconds}} 秒后关闭.</ng-container>
  <ng-container *ngIf="spinnerState === 'failed'">创建失败.</ng-container>
</ca-spinner>
