<form *ngIf="!isSubmitting" [formGroup]="formGroup" (ngSubmit)="submit()" novalidate>
  <div class="form-group">
    <div class="wrapper">
      <label>登录账号</label>
      <input type="text" class="form-control" id="userName" placeholder="user name" formControlName="userName" caValidityClass required/>
    </div>
    <small *ngIf="formGroup.get('userName').hasError('pattern')" class="invalid-feedback">
      Invalid title.
    </small>
    <small *ngIf="formGroup.get('userName').hasError('maxlength')" class="invalid-feedback">
      Title cannot exceed {{ titleLengthLimit }} characters.
    </small>
    <small *ngIf="formGroup.get('userName').dirty && formGroup.get('userName').hasError('required')" class="invalid-feedback">
      Required field.
    </small>
  </div>
  <div class="form-group">
    <div class="wrapper">
      <label>用户名称</label>
      <input type="text" class="form-control" id="name" placeholder="name" formControlName="name" caValidityClass required/>
    </div>
    <small *ngIf="formGroup.get('name').hasError('pattern')" class="invalid-feedback">
      Invalid title.
    </small>
    <small *ngIf="formGroup.get('name').hasError('maxlength')" class="invalid-feedback">
      Title cannot exceed {{ titleLengthLimit }} characters.
    </small>
    <small *ngIf="formGroup.get('name').dirty && formGroup.get('name').hasError('required')" class="invalid-feedback">
      Required field.
    </small>
  </div>
  <div class="form-group">
    <div class="wrapper">
      <label>所属社区</label>
      <ca-select formControlName="communityID">
        <ng-container *ngFor="let community of communities">
          <ca-option [value]="community.id">{{ community.name }}</ca-option>
        </ng-container>
      </ca-select>
    </div>
    <small *ngIf="formGroup.get('communityID').dirty && formGroup.get('communityID').hasError('required')" class="invalid-feedback">
      Required field.
    </small>
  </div>
  <div class="modal-buttons">
    <button type="submit" class="btn btn-primary">Save</button>
  </div>
</form>
<ca-spinner *ngIf="isSubmitting" [state]="spinnerState" dotColor="grey">
  <ng-container *ngIf="spinnerState === 'waiting'">Saving changes...</ng-container>
  <ng-container *ngIf="spinnerState === 'success'">Changes have been saved successfully! Returning automatically in {{successMessageTimeoutInSeconds}} seconds.</ng-container>
  <ng-container *ngIf="spinnerState === 'failed'">Failed to save your changes.</ng-container>
</ca-spinner>
