<form *ngIf="!isSubmitting" [formGroup]="formGroup" (ngSubmit)="submit()" novalidate>
  <div class="form-group">
    <div class="wrapper">
      <label>登录账号</label>
      <input type="text" class="form-control" id="userName" placeholder="user name" formControlName="userName" caValidityClass required/>
    </div>
    <small *ngIf="formGroup.get('userName').hasError('pattern')" class="invalid-feedback">
      Invalid title.
    </small>
    <small *ngIf="formGroup.get('userName').hasError('maxlength')" class="invalid-feedback">
      Title cannot exceed {{ titleLengthLimit }} characters.
    </small>
    <small *ngIf="formGroup.get('userName').dirty && formGroup.get('userName').hasError('required')" class="invalid-feedback">
      Required field.
    </small>
  </div>
  <div class="form-group">
    <div class="wrapper">
      <label>用户名称</label>
      <input type="text" class="form-control" id="name" placeholder="name" formControlName="name" caValidityClass required/>
    </div>
    <small *ngIf="formGroup.get('name').hasError('pattern')" class="invalid-feedback">
      Invalid title.
    </small>
    <small *ngIf="formGroup.get('name').hasError('maxlength')" class="invalid-feedback">
      Title cannot exceed {{ titleLengthLimit }} characters.
    </small>
    <small *ngIf="formGroup.get('name').dirty && formGroup.get('name').hasError('required')" class="invalid-feedback">
      Required field.
    </small>
  </div>
  <div class="form-group">
    <div class="wrapper">
      <label>所属社区</label>
      <ca-select formControlName="communityID">
          <ca-option *ngFor="let community of communities" [value]="community.id">{{ community.name }}</ca-option>
      </ca-select>
    </div>
    <small *ngIf="formGroup.get('communityID').dirty && formGroup.get('communityID').hasError('required')" class="invalid-feedback">
      Required field.
    </small>
  </div>

  <div class="form-group">
    <div class="wrapper permission-panel">
      <label>选择角色</label>
      <div class="check-box-panel">
        <ca-input-checkbox *ngFor="let item of roleArray" [formControl]="item.control" [value]="item.role.name">{{ item.role.name }}</ca-input-checkbox>
      </div>
    </div>
    <small *ngIf="formGroup.get('roles').dirty && formGroup.get('roles').hasError('required')" class="invalid-feedback">
      Required field.
    </small>
  </div>
  <div class="form-group">
    <div class="wrapper">
      <label>是否启用</label>
      <div class="radio-box-panel">
        <ca-input-radio [value]="true" formControlName="isEnabled"><span>是</span></ca-input-radio>
        <ca-input-radio [value]="false" formControlName="isEnabled"><span>否</span></ca-input-radio>
      </div>
    </div>
    <small *ngIf="formGroup.get('isEnabled').dirty && formGroup.get('isEnabled').hasError('required')" class="invalid-feedback">
      Required field.
    </small>
  </div>
  <div class="modal-buttons">
    <button type="submit" class="btn btn-primary">Save</button>
  </div>
</form>
<ca-spinner *ngIf="isSubmitting" [state]="spinnerState" dotColor="grey">
  <ng-container *ngIf="spinnerState === 'waiting'">Saving changes...</ng-container>
  <ng-container *ngIf="spinnerState === 'success'">Changes have been saved successfully! Returning automatically in {{successMessageTimeoutInSeconds}} seconds.</ng-container>
  <ng-container *ngIf="spinnerState === 'failed'">Failed to save your changes.</ng-container>
</ca-spinner>
