<header>
    <h3>人口信息列表</h3>
    <button (click)="openModal(populationModal)">创建信息表</button>
</header>
<div class="search-panel">
    <gm-search-bar></gm-search-bar>
</div>
<gm-population-table [columns]="columns" [communities]="communities" [data]="populationList"></gm-population-table>

<ng-template #populationModal let-close="close" let-dismiss="dismiss">
    <gm-modal-container [dismiss]="dismiss" [title]="'人口信息登记表'">
        <gm-population-editor [communities]="communities" [close]="close" [insurances]="insurances"></gm-population-editor>
    </gm-modal-container>
</ng-template>


