<div class="form-panel" *ngIf="!isSubmitting">
  <form *ngIf="!isSubmitting" [formGroup]="formGroup" (ngSubmit)="submit()" novalidate>
    <div class="form-group">
      <div class="wrap">
        <label>字典类型</label>
        <input type="text" class="form-control" [value]="data?.dictionaryText" readonly caValidityClass/>
      </div>
    </div>
    <div class="form-group">
      <div class="wrap">
        <label>ID</label>
        <input type="text" class="form-control" formControlName="id" readonly caValidityClass/>
      </div>
    </div>
    <div class="form-group">
      <div class="wrap">
        <label>字典ID</label>
        <input type="text" class="form-control" formControlName="dictionaryId" readonly caValidityClass/>
      </div>
    </div>
    <div class="form-group">
      <div class="wrap">
        <label>字典值</label>
        <input type="text" class="form-control" formControlName="value" caValidityClass/>
      </div>
    </div>
    <div class="modal-buttons">
      <button type="submit" class="btn btn-primary">保存</button>
    </div>
  </form>
</div>
<ca-spinner *ngIf="isSubmitting" [state]="spinnerState" dotColor="grey">
  <ng-container *ngIf="spinnerState === 'waiting'">保存中...</ng-container>
  <ng-container *ngIf="spinnerState === 'success'">编辑成功，{{successMessageTimeoutInSeconds}} 秒后返回.</ng-container>
  <ng-container *ngIf="spinnerState === 'failed'">保存失败.</ng-container>
</ca-spinner>
