@import "../../../../styles/lib";

.family-panel, .family-group {
  padding: 0 20px;
}

.title {
  display: flex;
  font-size: 1rem;
  color: $ca-black;
  margin: 10px auto;
  background: #eee;
  padding: 5px;

  >span {
    flex: 1;
  }
}
