<div class="folder" (click)="folderClick($event, folder)" [id]="folder.id">
    <div #currentFolder class="folder-title" (click)="selectedFolder(currentFolder); toggleFolderState()">
        <span [ngClass]="{'icon-folded': folderState === FolderState.Folded, 'icon-expanded': folderState === FolderState.Expanded, 'icon-empty': folder?.childMenu?.length <= 0}"></span>
        <span class="icon-folder"></span>
        <label>{{ folder?.name }}</label>
    </div>
    <ul *ngIf="folderState === FolderState.Expanded">
        <li *ngFor="let subMenu of folder?.childMenu">
            <ca-folder-tree [folder]="subMenu"></ca-folder-tree>
        </li>
    </ul>
</div>
