<form *ngIf="!isSubmitting" [formGroup]="formGroup" (ngSubmit)="submit()" novalidate>
  <div class="form-group">
    <div class="wrapper">
      <label>角色名称</label>
      <input type="text" class="form-control" id="name" placeholder="user name" formControlName="name" caValidityClass required/>
    </div>
    <small *ngIf="formGroup.get('name').hasError('pattern')" class="invalid-feedback">
      Invalid title.
    </small>
    <small *ngIf="formGroup.get('name').hasError('maxlength')" class="invalid-feedback">
      Title cannot exceed {{ titleLengthLimit }} characters.
    </small>
    <small *ngIf="formGroup.get('name').dirty && formGroup.get('name').hasError('required')" class="invalid-feedback">
      Required field.
    </small>
  </div>
  <div class="form-group">
    <div class="wrapper">
      <label>角色描述</label>
      <input type="text" class="form-control" id="description" placeholder="description" formControlName="description" caValidityClass required/>
    </div>
    <small *ngIf="formGroup.get('description').hasError('pattern')" class="invalid-feedback">
      Invalid title.
    </small>
    <small *ngIf="formGroup.get('description').hasError('maxlength')" class="invalid-feedback">
      Title cannot exceed {{ titleLengthLimit }} characters.
    </small>
    <small *ngIf="formGroup.get('description').dirty && formGroup.get('description').hasError('required')" class="invalid-feedback">
      Required field.
    </small>
  </div>
  <div class="form-group">
    <div class="wrapper">
      <label>角色描述</label>
      <input type="text" class="form-control" id="usersCount" placeholder="usersCount" formControlName="usersCount" caValidityClass required/>
    </div>
    <small *ngIf="formGroup.get('usersCount').hasError('pattern')" class="invalid-feedback">
      Invalid title.
    </small>
    <small *ngIf="formGroup.get('usersCount').hasError('maxlength')" class="invalid-feedback">
      Title cannot exceed {{ titleLengthLimit }} characters.
    </small>
    <small *ngIf="formGroup.get('usersCount').dirty && formGroup.get('usersCount').hasError('required')" class="invalid-feedback">
      Required field.
    </small>
  </div>
  <div class="form-group">
    <div class="wrapper permission-panel">
      <label>选择权限</label>
      <div class="check-box-panel">
        <ca-input-checkbox *ngFor="let item of permissionArray" [formControl]="item.control" [value]="item.permission.value">{{ item.permission.name }}</ca-input-checkbox>
      </div>
    </div>
    <small *ngIf="formGroup.get('permissions').hasError('pattern')" class="invalid-feedback">
      Invalid title.
    </small>
    <small *ngIf="formGroup.get('permissions').hasError('maxlength')" class="invalid-feedback">
      Title cannot exceed {{ titleLengthLimit }} characters.
    </small>
    <small *ngIf="formGroup.get('permissions').dirty && formGroup.get('permissions').hasError('required')" class="invalid-feedback">
      Required field.
    </small>
  </div>
  <div class="modal-buttons">
    <button type="submit" class="btn btn-primary">Save</button>
  </div>
</form>
<ca-spinner *ngIf="isSubmitting" [state]="spinnerState" dotColor="grey">
  <ng-container *ngIf="spinnerState === 'waiting'">角色创建中...</ng-container>
  <ng-container *ngIf="spinnerState === 'success'">角色创建成功! {{successMessageTimeoutInSeconds}} 秒后自动关闭窗口.</ng-container>
  <ng-container *ngIf="spinnerState === 'failed'">角色创建失败！</ng-container>
</ca-spinner>
