<div class="data-panel">
    <gm-table-header [columns]="columns"></gm-table-header>
    <div class="body">
        <div class="data-item" *ngFor="let item of data">
            <span>{{ item?.name }}</span>
            <span>{{ getCommunityNameById(item?.parentId) }}</span>
            <span>{{ item?.createdBy }}</span>
            <span>{{ item?.createdDate | date }}</span>
            <span class="menus">
              <a href="javascript:void(0);" (click)="removeItem(item?.id)">
                <fa-icon [icon]="faTrash"></fa-icon>
              </a>
            </span>
        </div>
    </div>
</div>
