<div class="data-panel">
    <gm-table-header [columns]="columns"></gm-table-header>
    <div class="body">
        <div class="data-item" *ngFor="let item of data | paginate: { itemsPerPage: 5, currentPage: page }">
            <span>{{ item?.name }}</span>
            <span>{{ getMenuNameById(item?.parentId) }}</span>
            <span>{{ item?.createdBy }}</span>
            <span>{{ item?.createdDate | date }}</span>
        </div>
    </div>
</div>
<div class="paginator">
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>
