.main {
  display: flex;
  height: 100%;
}

.left-panel {
  display: flex;
}

.news-panel {
  flex: 1;
  flex-flow: wrap;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: left;

  gm-newest {
    margin: 10px;
  }
}


