@import "../../../../styles/lib";

:host {
  display: flex;
}

.menu {
  min-width: $menu-width;
  background: rgba(44, 62, 80, 0.9);
  color: #fff;
  font-size: $app-font-small;
  text-align: center;
  padding: 20px 0;

  ::ng-deep .cell-bar {
    cursor: pointer;

    &:hover {
      background: #17232f;
    }
  }
}
