@import "../../../../styles/lib";

:host {
  display: flex;
}

.menu {
  min-width: $menu-width;
  background: rgba(0, 0, 0, .08);
  font-size: $app-font-small;
  text-align: center;
  padding: 20px 0;
  color: #151515;
  border-right: 1px solid #b3b3b3;

  ::ng-deep .cell-bar {
    cursor: pointer;
  }

  gm-menu-option {
    &:hover {
      background: rgba(0, 0, 0, .09);
    }
  }
}
