@import "../../../../styles/lib";

:host {
    display: flex;
}

.menu {
    min-width: 160px;
    background: #2C3E50;
    color: #fff;
    font-size: $app-font-small;
    text-align: center;
    padding: 20px 0;

    .cell-bar {
        cursor: pointer;

        &:hover {
            background: #17232f;
        }
    }
}