<header>
  <span>字典设置</span>
  <button (click)="openModal(dictionaryEditModal)">创建字典</button>
</header>
<gm-dictionary-table [columns]="columns" [data]="dictionaries"></gm-dictionary-table>
<div class="paginator">
  <ngb-pagination [collectionSize]="queryOptions?.totalCount" (pageChange)="search($event)" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
</div>
<ng-template #dictionaryEditModal let-close="close" let-dismiss="dismiss">
  <gm-modal-container [dismiss]="dismiss" [title]="'字典修改'">
    <gm-dictionary-create [close]="close" (submitted)="updateDictionaries()"></gm-dictionary-create>
  </gm-modal-container>
</ng-template>
