<div class="form-panel" *ngIf="!isSubmitting">
  <form *ngIf="!isSubmitting" [formGroup]="formGroup" (ngSubmit)="submit()" novalidate>
    <div class="form-group">
      <div class="wrap">
        <label>所属社区</label>
        <ca-select formControlName="communityId">
          <ca-option [value]="''">请选择所属社区</ca-option>
          <ca-option *ngFor="let community of communities" [value]="community.id">{{ community.name }}</ca-option>
        </ca-select>
      </div>
      <small *ngIf="getControl('communityId').dirty && getControl('communityId').hasError('required')" class="invalid-feedback">
        必填项.
      </small>
    </div>
    <div class="form-group">
      <div class="wrap">
        <label>活动名称</label>
        <input type="text" class="form-control" formControlName="subject" placeholder=""  caValidityClass/>
      </div>
      <small *ngIf="getControl('subject').dirty && getControl('subject').hasError('required')" class="invalid-feedback">
        必填项.
      </small>
    </div>
    <div class="form-group">
      <div class="wrap">
        <label>活动形式</label>
        <textarea type="text" class="form-control" formControlName="form" placeholder=""  caValidityClass></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="wrap">
        <label>参与人数</label>
        <input type="number" class="form-control" formControlName="joinAmount" placeholder=""  caValidityClass/>
      </div>
      <small *ngIf="getControl('joinAmount').dirty && getControl('joinAmount').hasError('required')" class="invalid-feedback">
        必填项.
      </small>
    </div>
    <div class="form-group">
      <div class="wrap">
        <label>真实人数</label>
        <input type="number" class="form-control" formControlName="realAmount" placeholder=""  caValidityClass/>
      </div>
    </div>
    <div class="form-group">
      <div class="wrap">
        <label>离开人数</label>
        <input type="number" class="form-control" formControlName="leaveAmount" placeholder=""  caValidityClass/>
      </div>
    </div>
    <div class="form-group">
      <div class="wrap">
        <label>活动时间</label>
        <div class="input-group calendar">
          <input class="form-control" placeholder="yyyy-mm-dd" bsDatepicker formControlName="activitiesDate" #d2="bsDatepicker" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" caValidityClass>
          <div class="input-group-append">
            <fa-icon [icon]="faCalendar" (click)="d2.toggle()"></fa-icon>
          </div>
        </div>
      </div>
      <small *ngIf="getControl('activitiesDate').dirty && getControl('activitiesDate').hasError('required')" class="invalid-feedback">
        必填项.
      </small>
    </div>
    <div class="form-group">
      <div class="wrap">
        <label>活动地点</label>
        <input type="text" class="form-control" formControlName="activitiesPlace" placeholder=""  caValidityClass/>
      </div>
      <small *ngIf="getControl('activitiesPlace').dirty && getControl('activitiesPlace').hasError('required')" class="invalid-feedback">
        必填项.
      </small>
    </div>
    <div class="form-group">
      <div class="wrap">
        <label>活动内容</label>
        <textarea type="text" class="form-control" formControlName="content" placeholder="" caValidityClass></textarea>
      </div>
      <small *ngIf="getControl('content').dirty && getControl('content').hasError('required')" class="invalid-feedback">
        必填项.
      </small>
    </div>
    <div class="modal-buttons">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>
</div>
<ca-spinner *ngIf="isSubmitting" [state]="spinnerState" dotColor="grey">
  <ng-container *ngIf="spinnerState === 'waiting'">创建中...</ng-container>
  <ng-container *ngIf="spinnerState === 'success'">创建成功, {{successMessageTimeoutInSeconds}} 秒跳转.</ng-container>
  <ng-container *ngIf="spinnerState === 'failed'">创建失败</ng-container>
</ca-spinner>
