$btn-border-radius: 21px;
$input-border-radius: 0;
$btn-line-height: 1.8;

$enable-shadows: false;
$btn-focus-box-shadow: none;
$btn-focus-width: 0;

$content-width: 930px;
$transition-effect: 0.15s ease-in-out;
$transition-color: color $transition-effect;
$module-item-width: 210px;
$module-item-height: 346px;
$module-item-margin-right: 30px;
$workflow-item-classic-height: 220px;
$workflow-item-advance-height: 115px;
$radio-diameter: 20px;

$nav-button-color: #00838F;
$app-width: 930px;
$app-default-black: #9B9B9B;
$app-font-small: 12px;
$app-default-gray: #ebedf4;

$ca-blue: #008bd0;
$ca-grey: #bcbdbc;
$ca-black: #151515;
$app-font-color: #9b9b9b;
$app-color-gray: #747678;
$page-background: #f8f8f8;
$footer-background: #f3f3f3;
$gray-background: #edeeeb;
$control-panel-background: rgba(71, 73, 87, 0.75);
$filter-border: #bdbdbd;
$placeholder-color: #a3a4a5;
$color-unread-marker: #9bf0ac;
$gray-border: #e0e0e0;
$workspace-tabs-backgroubnd: #2b2e30;
$menu-width: 120px;

