<div class="data-panel">
  <gm-table-header [columns]="columns"></gm-table-header>
  <div class="body">
    <div class="data-item" *ngFor="let item of data">
      <span>{{ getCommunityNameById(item?.communityId) }}</span>
      <span>{{ item?.name }}</span>
      <span>{{ item?.happenDate | date }}</span>
      <span>{{ item?.eventType }}</span>
      <span>{{ item?.area }}</span>
      <span [caTextEllipsis]="item?.content" [title]="item?.content"></span>
      <span>{{ item?.isSendMessage }}</span>
      <span>{{ getGroupNameById(item?.userMemberId) }}</span>
      <span class="menus">
              <a href="javascript:void(0);" (click)="removeItem(item?.id)">
                <fa-icon [icon]="faTrash"></fa-icon>
              </a>
              <a href="javascript:void(0);" (click)="currentEditItem = item; openModal(riskEditModal)">
                <fa-icon [icon]="faEdit"></fa-icon>
              </a>
              <a href="javascript:void(0);" (click)="currentEditItem = item; openModal(attachmentEditModal)">
                <fa-icon [icon]="faUpload"></fa-icon>
              </a>
      </span>
    </div>
  </div>
</div>
<ng-template #riskEditModal let-close="close" let-dismiss="dismiss">
  <gm-modal-container [dismiss]="dismiss" [title]="'安全隐患排查表编辑'">
    <gm-risk-editor [communities]="communities" [data]="currentEditItem" [groups]="groups" [close]="close" (submitted)="updateRiskList()"></gm-risk-editor>
  </gm-modal-container>
</ng-template>
<ng-template #attachmentEditModal let-close="close" let-dismiss="dismiss">
  <gm-modal-container [dismiss]="dismiss" [title]="'附件编辑'">
    <gm-attachment-editor [close]="close" [data]="currentEditItem"></gm-attachment-editor>
  </gm-modal-container>
</ng-template>
